*{
   padding: 0;
   margin: 0;
}

body{
   background-color: #c8e3fb;
   display: grid;
   place-items: center;
   height: 90vh;
   padding: 0 1rem;
}

main{
   background-color: #fff;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
   padding: 3rem;

   max-width: 60%;
   text-align: center;
}

main h1{
   padding: 1rem 0;
}

p{
   padding: .9rem 0;
}

input, button{
   border: none;
   padding: 1.3rem;
}

.hide{
   display: none;
}

input{
   width: 4rem;
   background-color: #DCE2E9;
   border-radius: .4rem 0 0 .4rem;
}

button{
   background-color: #6d1beb;
   color: #fff;
   cursor: pointer;
   border-radius: 0 .4rem .4rem 0;
}

button:hover{
   background-color: #a979f3;
}

/*screen2*/


h2{
   font-size: 1.5rem;
   padding: 1rem 0;
}

.screen2 button{
   border-radius: 5px;
}